---
import Link from "../../components/Link.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="myTitle">
  <div>
    <h1>This is a mock of about page</h1>
    <p>
      there is no data here, but you can check the <Link href="/">home</Link> page
      
    </p>
    <!-- <Link href="/">home</Link> -->
    <Link href="/">Home</Link>

  </div>
</BaseLayout>