---
import Link from '../components/Link.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
// const res = await fetch("https://jsonplaceholder.typicode.com/todos/1");

// const data = await res.json();
---

<BaseLayout title="Home Layout (at /)">
  <div class="bg-slate-200 min-h-16">
    <h1>sidebar</h1>
    <Link href="/about">About</Link><br />
    <!-- <a href="/">Another one</a> -->
    <p class="p-2 font-light text text-lg bg-blue-500 w-full" id="copyright">
      just some 'p' tad with id of copyright, getCopyrightYear
    </p>
  </div>
  <script>
    import { getCopyRightYear } from '../utils/copyright.js';
    const newDate = new Date();
    document.querySelector('#copyright').textContent =
      getCopyRightYear(newDate);
  </script>
</BaseLayout>
